@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #030014;
  --foreground: #ffffff;
  --neon-cyan: #00f3ff;
  --neon-purple: #bd00ff;
  --glass-border: rgba(255, 255, 255, 0.1);
  --glass-bg: rgba(255, 255, 255, 0.03);
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: 'Inter', sans-serif;
  overflow-x: hidden;
}

/* State of Art Glassmorphism Class */
.glass-panel {
  background: var(--glass-bg);
  backdrop-filter: blur(16px);
  -webkit-backdrop-filter: blur(16px);
  border: 1px solid var(--glass-border);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
}

.text-gradient {
  background: linear-gradient(to right, #00f3ff, #bd00ff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

/* Animations */
@keyframes pulse-glow {

  0%,
  100% {
    box-shadow: 0 0 10px rgba(0, 243, 255, 0.2);
  }

  50% {
    box-shadow: 0 0 20px rgba(0, 243, 255, 0.5);
  }
}


.animate-glow {
  animation: pulse-glow 3s infinite;
}

.bg-noise {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  pointer-events: none;
  z-index: 50;
  /* Encima de todo */
  opacity: 0.03;
  /* Muy sutil */
  background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 200 200' xmlns='http://www.w3.org/2000/svg'%3E%3Cfilter id='noiseFilter'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='0.65' numOctaves='3' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23noiseFilter)'/%3E%3C/svg%3E");
}